---
layout: null
---	    
/* exam_header.css */

ol li table {
    border-collapse: collapse;
}


ol li ol li table {
    border-collapse: collapse;
}


ol li table * td {
    border: 1px solid black;
}

ol li ol li table * td {
    border: 1px solid black;
}

div.handwriting-table table {
    width: 100%;
}

div.handwriting-table table * td {
    height: 3em;
}

.page-break-before.even-page {
   /* clear: right;  */
}

.page-break-before.odd-page {
   /* clear: both; */
}


.exam-name-header-table {
    float:left;
    margin-bottom:1em;
}

div.exam-page-header {
    page-break-before:always;
    font-family: Arial Narrow,sans-serif;
    font-size: 18px; font-weight: bold; text-align:right;
    page-break-before:always;
    float:right;
    width: 8em;
    text-align:right;
    margin:0px; padding:0px;
    margin-left: 1em;

}


div.exam-page-header {
    page-break-before:always;
    font-family: Arial Narrow,sans-serif;
    font-size: 18px; font-weight: bold; text-align:right;
    page-break-before:always;
}

div.even-page div.exam-page-header {
    float:left;
    width: 8em;
    text-align:left;
    margin:0px; padding:0px;
    margin-right: 2em;
    margin-bottom: 2em;
}

div.odd-page div.exam-page-header {
    float:right;
    width: 8em;
    text-align:right;
    margin:0px; padding:0px;
    margin-left: 2em;
    margin-bottom: 2em;
}

div.exam-page-header table {
    text-align:right;  width:20%; text-align:right;
    margin:0px; padding:0px; border-width: 0px;
}

div.exam-page-header table tr {
    margin:0px; padding:0px; line-height: 1.0;
}

div.exam-page-header table tr td {
    margin:0px; padding:0px; line-height: 1.0; border-width:0px;
}

div.exam-page-header * td.page-num {
    font-family: Arial, sans-serif;
    color:black; font-size: 800%; text-align: center;
}

div.exam-page-header * td.asn-num {
    font-family: Arial Narrow, sans-serif; color:black; font-size: 500%; text-align:center; padding-left: 3px; padding-right: 3px;
}

div.exam-page-header * td.handout-asn-num {
    font-family: Arial Narrow, sans-serif; color:black; font-size: 150%; text-align:center; padding-left: 3px; padding-right: 3px;
}


div.exam-page-header * td.course-qtr {
    font-family: Arial Narrow, sans-serif;  color:black; font-size: 150%; text-align:center; padding-left: 3px; padding-right: 3px;
}

table.exam-name-header-table {
    border: 1px solid #222;
}


table.exam-name-header-table *  {
    border-collapse: collapse;
    font-family:Arial Narrow, sans-serif;
    font-size: 18px;
}

table.exam-name-header-table *  td {
   /* border: 1px solid #555; */
}

table.exam-name-header-table *  th {
  /*  border: 1px solid #555; */
}


.exam-header-name {
    text-align:left;
    vertical-align: top;
    border-bottom:none;
    border-right: 1px solid black;
    line-height: 30px;
}

.exam-header-seat {
    text-align:left;
    vertical-align: top;
    border-bottom:none;
    border-right: 1px solid black;
    line-height: 30px;
}


.exam-header-subtext {
  text-align:left; font-style:italic; 
  vertical-align:bottom; 
  font-size: 12px !important;
  color:#333; border-top:none;
}



.exam-header-section {

  line-height: 80%; 
  vertical-align: top; 
  padding-top: 1pt; 
  padding-left: 2pt; 
  padding-right: 2pt;
}

.exam-header-section-subtext {
    line-height: 80%; 
  font-size: 18px !important;
}

nav ul {
    list-style-type: none;
    margin: 2px 1em 2px 1em;
    padding: 2px 1em 2px 1em;
    
}

nav ul li {
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(249,249,249);
    border-bottom-color: rgb(221, 221, 221);
    line-height: 20.8px;
    margin: 2px 1em 2px 1em;
    padding: 2px 1em 2px 1em;

}

nav ul li a {
    color: black;
}

nav ul li a:visited {
    color: black;
}

nav ul li a:hover {
    background-color: rgb(51, 136, 204);
    color: white;
}

nav ul.exam-nav-bar {
    margin-left: 2em;
    padding-left: 2em;
}
nav ul.exam-nav-bar li {
    margin: 2px 4px 2px 0px;
    padding: 2px 4px 2px 4px;
}

ol li ol li {
   list-style-type: lower-alpha;
}

div.not-ready-warning {
   width:80%;
   margin-left:auto;
   margin-right:auto;
   padding:1em 1em 1em 1em;
   margin:1em 1em 1em 1em;		     
   border: 10px outset red;
   color: black;
   background-color: #ffc;
   text-align: left;
}

div.not-ready-warning h2, h3 {
 text-align:center;
}

table.asn_table tr.not-ready td.asn_ready {
  font-weight:bold;
  color: red;		
}

table.asn_table tr.ready td.asn_ready {
  color: green;		
}

td.h03-table table {
    border: 1px solid black;
    border-collapse: collapse;
}
td.h03-table table * td,th {
    border: 1px solid black;
    padding: 4px;
}



.instructions {
    font-family: Verdana, Arial, Helvetica, sans-serif
}

#print-footer {
   /* display: none; */
    display: block;
}

@media screen {
    .page-break-before {
	 clear: both; 
    }
}

@media print
{
    @page {
	size: auto;
	margin: 3%;
    }

    body { font-size: 12px; }
}

table td.odd-page-box {
    width: 50% !important ;
    border: 1px solid blue !important;
}

.end-of-exam {
    clear: both;
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid black;
    width: 50%;
    text-align:center;
}

.boxingTable tr td pre {
    border: none; font-size: 150%; line-height: 0.8;
    margin-top:0px; margin-bottom:0px; padding-top: 0px;
    padding-bottom: 0px;
}

td.checkbox {
    text-align:center;
    font-size: 400%;
    line-height: 1.0;
}

.finePrint {
    font-size: 80%;
}

ol li ol li ul li {
    list-style-type: disc;
}

div.fill-in-blanks-table table  {
    width: 100%;
}


div.fill-in-blanks-table table * th {
    font-weight: bold;
    margin: 2em 2em 2em 1em;
    padding: 2em 2em 2em 1em;    
}

div.fill-in-blanks-table table * td {
    font-weight: bold;
    margin: 2em 2em 2em 1em;
    padding: 2em 2em 2em 1em;
}

table.exam-name-header-table {
    border: none;
}

table.exam-name-header-table * td.scissors-area {
    text-align: center;
    vertical-align:middle;
    border: none;
}



div.even-page .exam-name-header-table  {
    color: purple;
    background-color: orange;
    float: right;
}

img.even-page-staple-img {
    width: 150px;
    height: 150px;
    float: right;
}

td.scissors-area img {
    width: 150px;
    height: 150px;

}

.exam-header-umail-entry {
   border-left: none;
   vertical-align:middle;
}

.exam-header-umail-label {
    font-size: 14px !important;
    padding-right:190px;   /* THIS CONTROLS THE WIDTH OF ODD PAGE HEADERS */
    border-right:none; 
    vertical-align:top; 
    height:3.5em; 
    text-align:left;    
}

.exam-header-umail-entry {
    font-size: 12px !important;
    vertical-align: bottom;
}
